/*css reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
    margin: 2px;
    padding: 10px;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    font-family: 'Source Code Pro', monospace;
}
*::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
body {
    background-color: #191b1e;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-variant: normal;
    font-weight: 200;
}

input {
    width: 100%;
    height: 40px;
    margin-top: 30px;
    border:2px solid rgb(81, 81, 81);
    background-color: #191b1e;
    color: white;
    margin-bottom: 7px;
}

textarea {
    width: 100%;
    margin-top: 30px;
    border:2px solid rgb(81, 81, 81);
    background-color: #191b1e;
    color: white;
    height: 200px;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 12px;
}

button {
    background-color: #191b1e;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
}

.first_page {
    page-break-after: always;
}

.cont_mall {
    width: 20%;
    height: 1680px;
    display: grid;
    font-size: 16px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.cont_mall * {
    border: 1px solid white;
}

.roof {
    border-top: 3px solid rgb(117, 117, 117);
    padding: 30px;
}

.cont_mall *:nth-child(4n), .cont_mall *:nth-child(4n-1) {
    color: #eacf64;
    font-weight:900;
    text-decoration: underline;
}