*::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

body, html, main {
    overflow-wrap: break-word;
    color: white;
    width: 100%;
    height: 100%;
    font-size: 1.05rem;
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
}

* {
    margin-top: 0;
    padding: 0;
    margin: 0;
}
main div#console{
    display: grid;
    grid-template-rows: 2fr 40fr 5fr;
    grid-template-areas: "title"
                         "output"
                         "input";
    width: 100%;
    height: calc(100vh - 28px);
    background-color: #191b1e;
}

main div#console p {
    z-index: 109;
    display: block;
    position: relative;
}

#output {
    grid-area: output;
    padding: 0px 100px 0px 100px;
    overflow: scroll;
    color: rgb(243, 243, 243);
    font-weight: 400;
}

input {
    font-size: 1.9vh;
    font-family: 'Source Code Pro', monospace;
    margin: 10px 100px 40px 100px;
    background: #1d2125;
    border: none;
    grid-area: input;
    height: 10vh;
    color: rgb(231, 231, 211);
    padding: 0px 0px 0px 20px;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    padding-left: 20px;
    padding-right: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

input:focus {
    outline: none;
    background: #24272b;
    border: none;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

.console_output {
    color: rgba(238, 238, 238, 0.93);
    margin-left: 12px;
    padding-left: 5px;
    font-weight: 300;
    padding-bottom: 16px;
    animation-name: appear;
    animation-duration: 0.4s;
}

.console_output br {
    display: block;
    margin: 0px 0;
    content: ""; /* clears default height */
 }

.list_side {
    padding: 10px;
    margin-left: 20px;
    border-left: 3px solid white;
}

.list_side:nth-of-type(2n+1) {
    border-left: 3px solid rgb(189, 189, 189);
}

.console_error {
    color: rgb(210, 0, 0);
}

.console_error i {
    color: rgb(210, 0, 0);
    background-color: rgb(21, 21, 21);
    border: rgb(0, 0, 0) solid 1px;
    border-radius: 60%;
}

.console_warning {
    color: rgb(209, 209, 0);
}

.console_warning i {
    color: rgb(209, 209, 0);
    background-color: rgb(21, 21, 21);
    border: rgb(0, 0, 0) solid 1px;
    border-radius: 60%;
}

.mafy_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 10px;
}

.larger {
    font-size: 1.6rem;
}

.answer_larger {
    font-size: 1.4rem;
}

.dehance {
    font-weight: 600;
    color: grey;
    text-decoration: line-through;
}

.question {
    background: rgb(21, 21, 21);
    padding: 20px;
    border-radius: 20px;
    color: white;
    font-weight: 200;
    margin-bottom: 50px;
}

.mini_comment {
    color: rgb(164, 164, 164);
    font-weight: 200;
}

.correct {
    color: green;
    text-shadow: 0px -1px 3px green;
}

.wrong {
    color: red;
    text-shadow: 0px -1px 3px red;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

.clean {
    color: white;
    font-weight: 200;
    font-family: 'Source Code Pro', monospace;
    font-style: normal;
}

br {
    display: block;
    margin: 20px 0;
    content: "";
 }

.thicker {
    font-weight: 600;
}

.user_output {
    z-index: 2;
    text-shadow:rgb(231, 231, 211) 1px 0px 1px;
    margin-top: 15px;
}

input ~ a {
    font-size: 0.9em;
    color: rgb(30, 26, 50);
    text-decoration: none;
    background: linear-gradient(rgb(219, 219, 219), rgb(220, 220, 220));
    color: black;
    width: 100vw;
    height: 25px;
    padding: 2px;
    padding-left: 10px;
    display: block;
    bottom: 0;
    position: fixed;
    filter: grayscale(100%) invert(1);
    -webkit-filter: grayscale(100%) invert(1);
}

#background {
    background: linear-gradient(rgba(219, 219, 219, 0), rgba(240, 240, 240, 0.3));
    filter: grayscale(100%) invert(1);
    -webkit-filter: grayscale(100%) invert(1);
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.05rem;
    margin: 0;
    padding: 0;
    height: 60vh;
    width: 140vw;
    display: block;
    position: fixed;
    z-index: 1;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
    animation: clippy_spin 4s infinite ease-in-out alternate-reverse;
    -webkit-animation: clippy_spin 4s infinite ease-in-out alternate-reverse;
}

@keyframes clippy_spin {
    0% {
        background: linear-gradient(rgba(219, 219, 219, 0), rgba(240, 240, 240, 0.3));
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        clip-path: polygon(100% 0, 0 0, 100% 100%);
        -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
}
    100% {
        transform: rotate(36deg);
        -webkit-transform: rotate(36deg);
        -moz-transform: rotate(36deg);
        -ms-transform: rotate(36deg);
        -o-transform: rotate(36deg);
        clip-path: polygon(0 0, 0 0, 100% 100%);
        -webkit-clip-path: polygon(50% 0, 0 0, 100% 100%);
}
}